<%= link_to "Back to Article Index", admin_articles_path %>
<h1>Article ID: <%= @article.id %></h1>

<%= form_for [:admin, @article] do |f| %>
  <p>
    <%= f.radio_button :approved, false, checked: true %>
    <%= f.label :approved, "Not Approved" %>
    <%= f.radio_button :approved, true %>
    <%= f.label :approved, "Approved" %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 100 %>
  </p>

  <p>
    <%= f.label :author_id %><br>
    <%= f.collection_select :author_id, User.order(:username), :id, :username %>
  </p>

  <p>
    <%= f.label :article %><br>
    <%= f.text_area :article, cols: "100", rows: "15" %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.select :category, [['Sim Cards','sim cards'],['Smart Packing','smart packing'],['Adventure','adventure'],['Food','food'],['Lounge Life','lounge life'],['Best Lounges','best lounges']] %>
  <p>
    <%= f.label :location %><br>
    <%= f.select :location, [['Hong Kong','hong kong'],['Taiwan','taiwan'],['Japan','japan']] %>
  </p>

  <p>
    <%= f.radio_button :featured, false, checked: true %>
    <%= f.label :featured, "Not Featured Article" %>
    <%= f.radio_button :featured, true %>
    <%= f.label :featured, "Featured Article" %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= date_select :article, :date %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
