<style>
  table {
    width: 100%;
  }

  th {
    font-weight: 900;
  }

  th, tr, td {
    border: 1px solid black;
  }

</style>

<h1>Articles</h1>

<table>
  <th>ID</th>
  <th>Author</th>
  <th>Title</th>
  <th>Date</th>
  <th>Featured</th>
  <th>Category</th>
  <th>Article</th>
  <th>Show</th>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.author.username %></td>
      <td><%= article.title %></td>
      <td><%= article.date %></td>
      <td><%= article.featured ? "Featured" : "Not Featured" %></td>
      <td><%= article.category %></td>
      <td><%= article.article.length > 50 ? article.article[0..50].html_safe + "..." : article.article.html_safe %></td>
      <td><%= link_to 'Show', admin_article_path(article) %></td>
    </tr>
  <% end %>
</table>
