<style>
  table {
    width: 100%;
  }

  th {
    font-weight: 900;
  }

  th, tr, td {
    border: 1px solid black;
  }

</style>

<%= link_to "Back to Admin Navigation", admin_root_path %>
<%= link_to "Create New Article", new_admin_article_path %>

<h1>Articles</h1>

<table>
  <th>Approved</th>
  <th>ID</th>
  <th>Author</th>
  <th>Title</th>
  <th>Date</th>
  <th>Featured</th>
  <th>Category</th>
  <th>Location</th>
  <th>Article</th>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.approved ? "Approved" : "Not Approved", admin_article_path(article) %></td>
      <td><%= link_to article.id, admin_article_path(article) %></td>
      <td><%= link_to article.author.username, admin_article_path(article) %></td>
      <td><%= link_to article.title, admin_article_path(article) %></td>
      <td><%= link_to article.date, admin_article_path(article) %></td>
      <td><%= link_to article.featured ? "Featured" : "Not Featured", admin_article_path(article) %></td>
      <td><%= link_to article.category, admin_article_path(article) %></td>
      <td><%= link_to article.location, admin_article_path(article) %></td>
      <td><%= link_to (article.article.length > 50 ? article.article[0..50].html_safe + "..." : article.article.html_safe), admin_article_path(article) %></td>
    </tr>
  <% end %>
</table>
