<%= link_to 'Edit', edit_admin_article_path(@article) %>

<table>
  <tr>
    <td><h2>Approved:</h2></td>
    <td><%= @article.approved %></td>
  </tr>

  <tr>
    <td><h2>Author:</h2></td>
    <td><%= @article.author.username %></td>
  </tr>

  <tr>
    <td><h2>Title:</h2></td>
    <td><%= @article.title %></td>
  </tr>

  <tr>
    <td><h2>Date:</h2></td>
    <td><%= @article.date %></td>
  </tr>

  <tr>
    <td><h2>Category:</h2></td>
    <td><%= @article.category %></td>
  </tr>

  <tr>
    <td><h2>Featured:</h2></td>
    <td><%= @article.featured %></td>
  </tr>
</table>
</br>
<h2>Article:</h2>
<%= @article.article.html_safe %>
