<header>
  <div id="header">
    <section class="top">
      <div class="logo-title">
        <img src=<%= asset_path("logo.gif") %> />
      </div>
      <div class="ad-banner-top">
        <img class="ad-banner-top" src=<%= asset_path("ads728.png") %> />
      </div>
    </section>
    <section class="bottom">
      <div class="feature-gallery">
        <% @featured.each do |featured| %>
          <div class="gallery-image">
            <img src=<%= asset_path("1.jpg") %> />
            <div class="gallery-overlay-text"><p><%= featured.title %></p></div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</header>

<main id="content">
  <section class="content-left">
    <section class="content-menu">
      <h1>HACKS</h1>
      <div class="menu">
        <div class="sub-menu">
          <ul>
            <li><a href="?category=sim cards">SIM CARDS</a></li>
            <li>HONG KONG</li>
            <li>JAPAN</li>
            <li>TAIWAN</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul>
            <li>SMART PACKING</li>
            <li>ADVENTURE</li>
            <li>FOOD</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul>
            <li>THAT LOUNGE LIFE</li>
            <li>BEST AIRPORT LOUNGES</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="main-content">
      <h1>NEWS</h1>
      <% @articles.each do |article| %>
        <div class="article">
          <h2><%= "#{article.date.to_formatted_s(:rfc822)} #{article.title} #{article.author.first_name}" %></h2>
          <%= article.article.html_safe.length > 200 ? article.article[0..200].html_safe : article.article.html_safe %>
        </div>
      <% end %>
    </section>
  </section>
  <section class="content-right">
    <div class="right-ads">
        <div><img class="ad-banner-top" src=<%= asset_path("ads320.gif") %> /></div>
        <div><img class="ad-banner-top" src=<%= asset_path("ads320.gif") %> /></div>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
    </div>
  </section>
</main>

<footer>
  Footer Placeholder
</footer>
