<header>
  <div id="header">
    <section class="top">
      <div class="logo-title">
        <img src=<%= asset_path("logo.gif") %> />
      </div>
      <div class="ad-banner-top">
        <img class="ad-banner-top" src=<%= asset_path("ads728.png") %> />
      </div>
    </section>
    <section class="bottom">
      <div class="feature-gallery">
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
      </div>
    </section>
  </div>
</header>

<main id="content">
  <section class="content-left">
    <section class="content-menu">
      <h1>HACKS</h1>
      <div class="menu">
        <div class="sub-menu">
          <ul>
            <li>SIM CARDS</li>
            <li>HONG KONG</li>
            <li>JAPAN</li>
            <li>TAIWAN</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul>
            <li>SMART PACKING</li>
            <li>ADVENTURE</li>
            <li>FOOD</li>
          </ul>
        </div>
        <div class="sub-menu">
          <ul>
            <li>THAT LOUNGE LIFE</li>
            <li>BEST AIRPORT LOUNGES</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="main-content">
      <h1>NEWS</h1>
      <div class="article">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="article">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="article">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
  </section>
  <section class="content-right">
    <div class="right-ads">
        <img class="ad-banner-top" src=<%= asset_path("ads320.gif") %> />
        <img class="ad-banner-top" src=<%= asset_path("ads320.gif") %> />
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
    </div>
  </section>
</main>

<footer>
  Footer Placeholder
</footer>
