<header>
  <div id="header">
    <section class="top">
      <div class="logo-title">
        Taste
        <img class="ad-banner-top" src=<%= asset_path("ads728.png") %> />
      </div>
    </section>
    <section class="feature">
      <div class="feature-gallery">
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
        <div class="gallery-image">
          <img src=<%= asset_path("1.jpg") %> />
          <div class="gallery-overlay-text"><p>UK POWER GUIDE</br>ADAPTOR GUIDE</p></div>
        </div>
      </div>
    </section>
  </div>
</header>

<div id="content">
  Content
</div>

<footer>
  <div id="footer">
    Footer
  </div>
</footer>
